<footer>
    <div class="container-fluid">
            <div class="row footer-content">
                <div class="col-12 col-md-4">
                    <h4>Lorem ipsum </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="col-12 col-md-4">
                    <ul>
                        <li><a href="#">test1</a></li>
                        <li><a href="#">test2</a></li>
                        <li><a href="#">test3</a></li>
                    </ul>
                    
                </div>
                <div class="col-12 col-md-4">
                    <div class="social-icons">
                        <a href="#" aria-label="Facebook" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        <a href="#" aria-label="YouTube" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                        </div>
                </div>

            </div>
        <div class="footer-bottom">
            <p>© <span id="current-year">2025</span> All Rights Reserved.</p>
        </div>

    </div>
</footer>