<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-lg-4">
                <div class="header__logo">
                    <a href="">
                        <img src="../../assets/images/logo-0.svg" alt="Logo flora">
                    </a>
                </div>
            </div>
            <div class="col-8 col-lg-8">
                  <nav class="mainnav">
                    <ul id="menu" class="menu d-xl-flex justify-content-xl-between">
                         <li class="menu__item has-submenu  is-active"><a href="#">Services</a></li>
                         <li class="menu__item has-submenu  "><a href="#">A propos</a></li>
                         <li class="menu__item has-submenu  "><a href="#">Gallerie</a></li>
                         <li class="menu__item has-submenu  "><a href="#">Contact</a></li>

                   </ul>
                   </nav>     
            </div>
        </div>
    </div>
</header>