<header>
    <div class="container-fluid ">
        <div class="row header_menu">
            <div class="col-6 col-lg-3">
                <div class="header__logo">
                    <a href="">
                        <img src="../../assets/images/logo-0.svg" alt="Logo flora">
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-7">
                  <nav class="mainnav">
                    <ul id="menu" class="menu d-xl-flex ">
                         <li class="menu__item has-submenu  is-active"><a href="#">Services</a></li>
                         <li class="menu__item  "><a href="#">A propos</a></li>
                         <li class="menu__item "><a href="#">Gallerie</a></li>
                         <li class="menu__item   "><a href="#">Contact</a></li>

                   </ul>
                   </nav>  
                      <div class="nav-mobile btn-menu d-xl-none">
                    <a id="nav-toggle" href="javascript:void(0);" class=""><span></span></a>
                </div>
            </div>
            <div class="col-2 col-lg-2">
            <a href="#contact" class="cta-button nav-button">Book Now</a>   

            </div>

        </div>
    </div>
</header>