 <nav class="main-navbar navbar-expand-lg fixed-top sticky">
    <div class="">
        <div class="row">
            <div class="col-xl-12 col-12 ">
                <div class="right-links">
                    <div class="nav-mobile btn-menu">
                        <a id="nav-toggle" href="javascript:void(0);"><span></span></a>
                    </div>
                </div>
                <div class="menu_custom lang-{{language}}">
                    {{ page.main_menu }}
                    <div class="logo">
                       {{ page.system_branding }}
                    </div>
                    {{ page.menu_top }}
                </div>
            </div>
        </div>
    </div>
</nav>