.slider-home {
  width: 100%;

  &__bg {
    position: relative;

    &__image {
      height: 691px;
 @include media-breakpoint-down(md) {
        height: 378px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; // important pour enlever les petits gaps
      }
    }

    &__content {
      position: absolute;   /* overlays the image */
      top: 50%;             /* vertically center */
      left: 50%;            /* horizontally center */
      transform: translate(-50%, -50%); /* center exactly */
      text-align: center;   /* center text */
      color: #fff;          /* text color */
      z-index: 2;           /* above the image */
      padding: 0 20px;      /* optional for small screens */
     
      /* Si tu as un bouton à l'intérieur */
      .button {
     
        background-color: $gold;
        color: $white;
        border-radius: 25px;          // rounded corners
  text-decoration: none;        // remove underline
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;           // add some spacing
  font-size: 0.85rem;           // optional: smaller text
   transition: background-color 0.3s ease, color 0.3s ease; // smooth hover
  cursor: pointer;              // pointer on hover

  &:hover {
    background-color: darken($gold, 10%); // slightly darker on hover
    color: $white;
    text-decoration: none;
  }             // pointer on hover
      }
      .slider__content__desc{
        margin-bottom: 10%;
        font-family:$heading-font ;
        font-weight: 300;
         @include media-breakpoint-down(md) {
        font-weight: 100;
        font-size: 0.5rem;
      }
      }
    }
  }
}
.title  {
    font-family: $heading-font;
    color:$gold;
    font-size: 2.5rem;
      @include media-breakpoint-down(md) {
       font-size: 1.5rem;
      }
   }
.apropos-section{
   margin: 5% ;
   &__titre  {
    font-family: $heading-font;
    color:$gold;
    font-size: 2.5rem;
      @include media-breakpoint-down(md) {
       font-size: 1.5rem;
      }
   }
   &__desc{
    font-family: $body-font;
    color:$dark-grey;
    font-size: 1rem;

   }
   &__btn {
  position: relative;
  margin-top: 5%;
  padding-right: 2px; /* space for arrow */
  cursor: pointer;

a {
  text-decoration: none;
  color: $dark-grey;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 6px;              // espace entre texte & icône
  transition: transform 0.3s ease;  // animation sur tout le <a>

  i {
    color: $gold;
    font-size: 15px;
  }

  &:hover {
    transform: translateX(5px);   // translation sur toute l’ancre
  }
}





}

}
.img-propos{
    border-radius: 20px;
      transition: transform 0.3s ease;
    &:hover {
  transform: scale(1.05);
}
  
}
.services{
  background-color: $cream;
   padding: 20px;
  
}
.row-title{
margin-bottom: 5%;
}
    .card{
        
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.06);
    opacity: 0.9;
  }
   @include media-breakpoint-down(md) {
        margin-top: 5%;
      }
        &-img-top{
            width:60px ;
            height:60px;
              display: block;      // make it a block element
    margin: 10 auto;      // centers horizontally
        }
       &-body{
        text-align: center;
        &-text{

            font-size: 1rem;
            font-family: $body-font;
            color: $dark-grey;
       } 
       

       }
    }

    
 .gallery_section{
  margin: 25px 10px;
 }   
 .gallery {
    gap: 24px 0;
    margin:15px 5px;
    &__item{
      position: relative;
    cursor: pointer;
    img{
      width: 100%;
      height: 220px;
      border-radius: 25px;
      object-fit: cover;
      transition: transform 0.3 ease;
    }
    }
}

.cta_contact{
  border-radius: 20px;
  opacity: 0.9;
  padding: 5px;
  &_content{
    padding: 30px;
    &_titre{
    text-align: center;
    color:$white;
    font-family: $heading-font;
    font-weight: 400;

    }
    &_desc{
      color:$white;
      font-size: 18px;
      text-align: center;
    }
    &_bouton{
      text-align: center;
      a{
        background-color: $gold;
        border-radius: 25px;
        color: $white;
        font-size: 16px;
        font-family: 600;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
           transition: background-color 0.3s ease, color 0.3s ease; // smooth hover
  cursor: pointer;              // pointer on hover

  &:hover {
    background-color: darken($gold, 10%); // slightly darker on hover
    color: $white;
    text-decoration: none;
  } 

        }
      }
    }

  }


