   $soft-pink: #FADADD;
   $pale-pink: #F8E8E8;
   $bg-menu: rgba(255, 248, 240, 0.95);
   $cream: #FFF8F0;
   $gold: #B08D57;
   $bright-gold: #C4A661;
   $dark-grey: #4A4A4A;
   $white: #FFFFFF;
   $heading-font: 'Playfair Display', serif;
   $body-font: 'Montserrat', sans-serif;